
body {

  margin: auto;
  font-family: 'Roboto', sans-serif !important;
  padding-bottom:40px;

}

.bk {
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
}

.bk-root .bk {
  margin: 0 auto !important;
}
.about {
  
  max-width: 700px;
  margin: auto; 
  font-size:20px;
  border: black;
  border-width: thick;
  border-style: solid;
  padding: 20px;
}
.header {
  font-size: 50px;
  text-align: center;
}

.content {

  max-width: 700px;
margin: auto; 
font-size:20px;

}



