---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(200deg, #159957, #439b3f, #159957);
};

.bk-tooltip {
  font-size: 200px;
}

iframe {
  display:block;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

